
*{font-family:Inter,Arial,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",helvetica nueve, helvetica, robotica, ubuntu, roboto, sans-serif;scroll-behavior: smooth !important;transition: all 1s}
html{background:#001337;background:url('https://solidly.exchange/images/solid_background.png'); background-size: 100% 100%;	color:#7e99b0;}/*818797,7e99bo*/
.twopc{display:grid;grid-template-columns:auto auto}
input{color:#fff;width:100%;background:transparent;border:none;}
a{color:#eee}
.twopc input{font-size:3em;color:#eee;margin: 0 20px}
.twopc div img{width:;align-items: center;height:64px;}
.top1l{font-size:2em;padding:5px;font-family:helvetica nueve, helvetica, robotica, ubuntu, roboto, sans-serif;}
#switch {display:none;border:none;}
.topbtn button{padding: 10px;border-radius:32px}
.outerswap{border-radius:20px;background:#192138;padding:10px;margin:10px auto}
button,.innerarea{background:#212b48;border-radius:12px;padding:15px;margin:2px 0;padding: 19px 24px;min-width: 150px;}
button{color:#fff;border:none;box-shadow:0px 1px 2px #111;cursor:pointer}
button:hover{transform: translateY(-2px);background:#145}
button:active{transform: translateY(2px);background:#145}
.act-btn{font-size:1.25em; font-weight:bolder;}
.actbutton{background:#173448;border-radius:20px;padding:10px;margin:10px;color:#06d3d7;width:calc(100% - 20px)}
.l7i {width: 100%;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;height: 0;}
.l7j {background: #161b2c;border-radius: 9px;width: 30px;height: 30px;}
.flip-root {fill: currentColor;width: 20px;height: 20px;display: inline-block;font-size: 1rem;transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;flex-shrink: 0;-moz-user-select: none;margin: 5px}
.flip-in {cursor: pointer;font-size: 30px !important;background: #212b48;border-radius: 6px;}
.body{overflow:hidden auto}
#slippage{font-size:1em}
.semver{font-size:0.75em;background: #7e99b0;color: #111729;padding:2px 4px;border-radius: 12px}
.imgbox20{width: 20px !important;display:inline-block;text-align:center}
.imgbox64{width: 64px !important;display:inline-block;text-align:center;border-radius:64px; border:1px solid #7e99b0;padding:8px;line-height:0}
@media(min-width:641px){
	.outerswap{width:420px}
}

.lowerbar{
  font-size: 1.25em;
  font-weight: bolder;
}
.lowerbar a{
  font-size: 0.75em;
  font-weight: lighter;
  padding: 10px 10px 10px 0px;
  color:#32fbe2;
  text-decoration: none
}
.lowerbar img{width:24px}
.lowerbar .subimg{width:16px;height:16px;position: relative;right:9px;top:4px;margin-right:-11px}
.lowerbar2 img{height:36px}
@media(min-width:641px){
	.outerswap{width:420px}
	td{font-size: 2em;font-weight:lighter}
}
* {
  scrollbar-width: thick;
  scrollbar-color: #07f #147;
}
*::-webkit-scrollbar {
  width: 20px;
}
*::-webkit-scrollbar-track {
  background: #147;
}
*::-webkit-scrollbar-thumb {
  background-color: #07f;
  border-radius: 20px;
  border: 3px solid #147;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow-y:  auto;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #192133;
  color: #fff;
  border-radius: 20px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #789;
}
.popup .close:hover {
  color: #fff;
  cursor:  context-menu
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}